# MENA Analysis: Conflicts (ACLED)

### Load packages and setup

In [1]:
import pandas as pd
import geopandas as gpd
import pandas as pd
import numpy as np
import glob

In [2]:
# Define directories
dir_shp = '/Users/ashitakarl/Library/CloudStorage/Dropbox/WB/MENA_WorldBank/Boundaries/'
dir_in = '/Users/ashitakarl/Desktop/Project/WB/MENA/ACLED/'
dir_out = '/Users/ashitakarl/Library/CloudStorage/Dropbox/WB/MENA_WorldBank/Index/'

# Define output FILE
VAR = 'ACLED_'
YEAR_LIST = [2015, 2020]
FILE_OUT = 'ADM2_' + VAR + str(min(YEAR_LIST)) + '_' + str(max(YEAR_LIST)) + '.csv'

In [3]:
%matplotlib inline

### Load shapefile

In [4]:
# Load shapefile
MENA_shp = gpd.read_file(dir_shp + 'MENA_ADM2.shp')

MENA_shp.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

### Load RWI data

In [13]:
ACLED_df = pd.read_csv(dir_in + 'MiddleEast_2015-2023_Mar17.csv')[['EVENT_ID_CNTY', 'YEAR', 'EVENT_TYPE',
                                                                  'LONGITUDE', 'LATITUDE']]

ACLED_shp = gpd.GeoDataFrame(ACLED_df, 
                             geometry = gpd.points_from_xy(ACLED_df.LONGITUDE, 
                                                           ACLED_df.LATITUDE, crs = "EPSG:4326"))

ACLED_df = ACLED_shp.sjoin(MENA_shp, how = "left").groupby(['ID_ADM', 'YEAR', 'EVENT_TYPE']).size().rename('n').reset_index()

/var/folders/xr/g_krxdrx6zq93vshtvkz5hym0000gn/T/ipykernel_2105/2248763257.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  ACLED_df = pd.read_csv(dir_in + 'MiddleEast_2015-2023_Mar17.csv')[['EVENT_ID_CNTY', 'YEAR', 'EVENT_TYPE',

In [15]:
ACLED_df = ACLED_df[ACLED_df["YEAR"] <= 2020]

In [16]:
ACLED_df

        ID_ADM  YEAR                  EVENT_TYPE    n
0       5748.0  2016                    Protests  214
1       5748.0  2016                       Riots  100
2       5748.0  2017                     Battles    2
3       5748.0  2017  Explosions/Remote violence    1
4       5748.0  2017                    Protests  181
...        ...   ...                         ...  ...
14474  65746.0  2018                       Riots    1
14475  65746.0  2019                    Protests   22
14476  65746.0  2019                       Riots    1
14477  65746.0  2020                    Protests    5
14478  65746.0  2020                       Riots    1

[9076 rows x 4 columns]

In [17]:
ACLED_df.to_csv(dir_out + FILE_OUT, index = False)